# Default ignored files
/shelf/
/workspace.xml

# Archivos autogenerados y de build
/local.properties
/.gradle
/build
/captures

# Archivos de configuracion de Android Studio (IntelliJ IDEA)
.idea/
*.iml

# Archivos del SO
.DS_Store
Thumbs.db